@model TokatRestoran.Models.Entity.TBLBlog
@{
    ViewBag.Title = "BlogEkle";
    Layout = "~/Views/Shared/Admin_Laout.cshtml";
}


<div">
    <h4>Yeni Blog Ekleme Sayfası</h4>
    <form class="form-group" method="post">
        <br />
        Başlık
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        <br />
        Açıklama
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })

        <br />
        Resim
        @Html.TextBoxFor(x => x.Resim, new { @class = "form-control" })
        <br />
        Tarih
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
        <br />
        @Html.HiddenFor(x => x.id)
        <br />
        <button class="btn btn-primary">Kaydet</button>

    </form>
</div>




