@using TokatRestoran.Models.Entity
@model List<TBLBlog>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/Restoran_Laout.cshtml";
}


<body>
    <div id="body_bg">

        <div class="primary-container-group">
            <!-- Background -->
            <div class="primary-container-background">
                <div class="primary-container"></div>
                <div class="clearfix"></div>
            </div>
            <!--End Background -->
            <div class="primary-container">
                <div class="container">
                    <!-- === END HEADER === -->
                    <!-- === BEGIN CONTENT === -->
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
                            <!-- Blog Post -->
                            @foreach (var x in Model)
                            {
                                <div class="blog-post">
                                    <!-- Blog Item Header -->
                                    <div class="blog-item-header">
                                        <!-- Date -->

                                        <div class="blog-post-date pull-left">

                                            <span class="day">@x.Gun</span>
                                            <span class="month">@x.Ay</span>


                                        </div>
                                        <!-- End Date -->
                                        <!-- Title -->
                                        <h2>
                                            <a href="~/KafeBlog/BlogDetay/@x.id">

                                                @x.Baslik

                                            </a>

                                        </h2>
                                    </div>
                                    <!-- End Blog Item Header -->
                                    <!-- Blog Item Body -->

                                    <div class="blog">
                                        <div class="clearfix"></div>
                                        <div class="blog-post-body row margin-top-15">


                                            <div class="col-md-5">
                                                <img class="pull-left" src="@x.Resim" alt="thumb1">
                                            </div>
                                            <div class="col-md-7">
                                                <p>
                                                    @x.Aciklama
                                                </p>
                                            </div>


                                        </div>
                                        <div class="blog-item-footer">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <hr>
                                                </div>
                                                <div class="col-md-2">
                                                    <!-- Read More -->
                                                    <div class="blog-post-details-item blog-post-details-item-right pull-right">
                                                        <a href="~/KafeBlog/BlogDetay/@x.id" class="btn btn-primary">
                                                            Devamını Oku
                                                            <i class="icon-chevron-right readmore-icon"></i>
                                                        </a>
                                                    </div>
                                                    <!-- End Read More -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Blog Item Body -->
                                </div>
                            }





                            <!-- End Blog Item -->
                            <!-- Pagination -->
                            <ul class="pagination">
                                <li>
                                    <a href="#">&laquo;</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li class="disabled">
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">&raquo;</a>
                                </li>
                            </ul>
                            <!-- End Pagination -->
                        </div>
                        <!-- End Main Column -->
                        <!-- Side Column -->
                        <div class="col-md-3 margin-top-30">
                            <!-- Blog Tags -->
                            <!-- End Blog Tags -->
                            <!-- Recent Posts -->
                           
                            @Html.Action("SonYorumlar","KafeBlog")
                            <!-- End Recent Posts -->
                        </div>
                        <!-- End Side Column -->
                    </div>
                    <!-- === END CONTENT === -->
                    <!-- === BEGIN FOOTER === -->
                </div>

                <!-- Footer Menu -->
                <!-- End Footer Menu -->
            </div>
        </div>
    </div>
    <!-- JS -->
    <script type="text/javascript" src="~/Tema/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Tema/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Tema/assets/js/scripts.js"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script type="text/javascript" src="~/Tema/assets/js/jquery.isotope.js"></script>
    <!-- Mobile Menu - Slicknav -->
    <script type="text/javascript" src="~/Tema/assets/js/jquery.slicknav.js"></script>
    <!-- Animate on Scroll-->
    <script type="text/javascript" src="~/Tema/assets/js/jquery.visible.js" charset="utf-8"></script>
    <!-- Modernizr -->
    <script src="~/Tema/assets/js/modernizr.custom.js" type="text/javascript"></script>
    <!-- End JS -->
</body>

